#setting_colour{
    background-color:black;
    background-color:black;
    display:block;
    font-size: 30px;
    color:white;
}
#setting_colour_select{
    font-size:25px;
    background-color:black;
    color:white;
}